#rankings
  = render :partial => 'user/rankings', :locals => { :users => @users }
#history
  = render :partial => 'user/history',  :locals => { :history => @history }
#options
  = render :partial => 'user/options'
