body
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif
#history, #options
  float: left
  ul
    padding: 0
    li
      list-style: none
#history
  width: 35%
#options
  width: 25%
#rankings
  float: left
  width: 40%
  table
    border-collapse: collapse
    text-align: center
    color: #333
    td
      margin: 0
      border: 1px solid #575757
    th
      border: 1px solid #575757
      background-color: #575757
      color: orange
      font-weight: bold
      text-transform: uppercase
  .rulz
    margin-top: 20px

#options
  #user_ig_name
    width: 220px
    color: grey
  .match-results
    width: 310px
    margin-top: 40px
    select
      color: grey
      width: 225px

.red
  color: red
.green
  color: green
.orange
  color: orange
.w80
  width: 80px
.w100
  width: 100px
.w150
  width: 150px
.w233
  width: 233px
.w401
  width: 401px